body {
	padding: 0;
	margin: 0;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}


#carousel {
	width: 400px;
	height: 400px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 500%;
  	height: 100%;
  	position: relative;
  	left: 0;

	  	li {
			width: calc(100% / 5);
			height: 100%;
	 		padding: 0;
			margin: 0; 	
			float: left;	
	  	}
	}

}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__nav {
		padding: 25px;

	}

	&__dots {
		padding: 25px;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			list-style-type: none;
			li {
				padding: 10px;
				margin: 5px;
				border: 2px solid #3498db;
				border-radius: 50%;
				background-color: #3498db;
				cursor: pointer;
			}
		}
	}

}


#dots li.active {
	background-color: red;
}




